body{
  text-align: center;
  font-family: 'Outfit', sans-serif;
  background-color:  hsl(212, 45%, 89%)

}
.box{
  height: 530px;
  width: 330px;
  background-color: White;

  border-radius: 1.25rem;
  padding: 1.2rem;
}
main{
display: flex;
align-items: center;
justify-content: center;
min-height: 100vh;
}
img{

  border-radius: 5%;
  width:100%;
  position: relative;

}
h2{
  color: hsl(218, 44%, 22%);
  width:90%;
  margin:30px auto

}
p{
  color: hsl(220, 15%, 55%);
  width: 80%;
  margin:30px auto;
}
